.badge {
    display: inline-block;
    /* min-width: .5rem;  */
     padding: .5rem .5rem; 
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background: #1779ba;
    color: #fefefe;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }