html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.AppBar {
    position: sticky;
    top: 0;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
  }
  li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
  }
  li a {
    text-decoration: none;
    color: #1ac;
  }

  .imageTag{
      background-color:gray;
      color:aliceblue;
      border-style: solid;
      border-color: black;
      border-radius: 40%;
      font-size: 50px;  
  }